body{
    font-family: 'Merriweather', serif;
}

img{
    max-width:100%;
}

.right{
    display: grid;
    align-self: center;
}

h1{
    size: 60px;
    text-align: center;
    font-family: 'Staatliches', cursive;
}

.full-name{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F9F6F0;
}

h2{
    text-align: center;
}

h5{
    text-align: center;
}

section.skills{
    display:flex;
    align-items: center;
    text-align: center;
    width: 100vw;
    background-color: #F9F6F0;
    padding-top: 100px;
    padding-bottom: 100px;
}

section.intro{
    display:flex;
    align-items: center;
    text-align: center;
    width: 100vw;
    background-color: #C4AE78;
    padding-top: 100px;
    padding-bottom: 100px;
}

section.contact{
    width: 100vw;
    background-image: url(/img/andrew-kliatskyi-tsmO0npD4pY-unsplash.jpg);
    padding-top: 100px;
    padding-bottom: 100px;
}

footer{
    color: white;
    background-color: black;
    text-align: center;
}

a.cv{
    color: black;
}

a.cv:visited{
    color:rgba(150, 129, 99, 0.877);
}

.navbar{
    overflow: hidden;
    transition: 0.4;
    position: fixed;
    background-image: url(/img/andrew-kliatskyi-tsmO0npD4pY-unsplash.jpg);
}


a{
    text-decoration: none;
    color: white;
}

p{
    text-align: center;
}

section.hero{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    text-align: center;
    background-image: url(/img/tim-mossholder-8YfoqbLsIW0-unsplash.jpg);
}

.card{
    width: 18rem;
}

.foot{
    color:white;
}

.list-group-item{
    background-color: transparent;
    text-align: center;
}


@media screen and (max-width: 600px){
    .wrapper {
        column-gap: 5%;
        display: grid;
        grid-template-columns: 1fr;

    }

    .right{
        align-self: center;
        text-align: center;
    }

    .left{
        align-self: center;
        text-align: center;
    }
}