body{
    font-family: 'Merriweather', serif;
}

img{
    max-width:100%;
}

.right{
    display: grid;
    align-self: center;
}

h1{
    size: 60px;
    text-align: center;
}

h2{
    text-align: center;
}

h5{
    text-align: center;
}


section.skills{
    display:flex;
    align-items: center;
    text-align: center;
    width: 100vw;
    background-color: rgba(150, 129, 99, 0.877);
    padding-top: 100px;
    padding-bottom: 100px;
}
section.intro{
    display:flex;
    align-items: center;
    text-align: center;
    width: 100vw;
    background-color: rgba(201, 170, 128, 0.877);
    padding-top: 100px;
    padding-bottom: 100px;
}
section.contact{
    width: 100vw;
    height: 100vh;
    background-image: url(/img/andrew-kliatskyi-tsmO0npD4pY-unsplash.jpg);
    padding-top: 100px;
    padding-bottom: 100px;
}

footer{
    color: white;
    background-color: black;
    text-align: center;
}

a.cv{
    color: black;
}

a.cv:visited{
    color:rgba(150, 129, 99, 0.877);
}

.navbar{
    background-image: url(/img/andrew-kliatskyi-tsmO0npD4pY-unsplash.jpg);
}

a{
    text-decoration: none;
    color: white;
}

p{
    text-align: center;
}

section.hero{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    text-align: center;
    background-color: rgb(216, 216, 216);
}

.card{
    width: 18rem;
}

.foot{
    color:white;
}

@media screen and (max-width: 600px){
    .wrapper {
        column-gap: 5%;
        display: grid;
        grid-template-columns: 1fr;

    }

    .right{
        align-self: center;
        text-align: center;
    }

    .left{
        align-self: center;
        text-align: center;
    }
}